apiVersion: batch/v1
kind: Job
metadata:
  name: ge-config
  namespace: ge-dev
  labels:
    app: ge-config
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: ge-config
    spec:
      nodeSelector:
        agentpool: geserver
      restartPolicy: OnFailure
      imagePullSecrets:
      - name: ghcr-pull-secret
      containers:
      - name: config
        image: ghcr.io/rajp1011/pfhbe/geconfig:v7.0.0
        imagePullPolicy: IfNotPresent
        command: ["/bin/sh", "-c"]
        args:
          - |
            set -e
            echo "Starting smart sync..."

            # Ensure target folder exists
            mkdir -p /mnt/Internal

            echo "One-time cleanup: removing old root config (keeping Internal + GELogs)..."
            find /mnt -mindepth 1 -maxdepth 1 \
              ! -name Internal \
              ! -name GELogs \
              ! -name .geconfig_version.txt \
              -exec rm -rf {} +
            echo "Cleanup done. Current /mnt contents:"
            ls -lah /mnt

            rsync -av --delete --exclude='GELogs/' /config/Internal/ /mnt/Internal/

            echo "geconfig=v7.0.0 $(date -u)" >> /mnt/.geconfig_version.txt
            echo "Sync complete."
        volumeMounts:
        - name: ge-config-volume
          mountPath: /mnt
      volumes:
      - name: ge-config-volume
        persistentVolumeClaim:
          claimName: ge-pvc