apiVersion: batch/v1
kind: Job
metadata:
  name: ge-config
  namespace: ge-dev
  labels:
    app: ge-config
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: ge-config
    spec:
      nodeSelector:
        agentpool: geserver 
      restartPolicy: OnFailure
      imagePullSecrets:
      - name: ghcr-pull-secret
      containers:
      - name: config
        image: ghcr.io/rajp1011/pfhbe/geconfig:v7.0.1
        imagePullPolicy: IfNotPresent
        command: ["/bin/sh", "-c"]
        args:
          - |
            set -e
            echo "Starting smart sync..."

            # Ensure target folder exists
            mkdir -p /mnt/Internal
            
            # --archive: keeps permissions/dates
            # --delete: removes files from PVC that you deleted in Docker
            # --verbose: shows progress in logs
            rsync -av --delete --exclude='GELogs/' /config/Internal/ /mnt/Internal/ 
            # rsync -av --delete --exclude='Pools/' /config/Internal/ /mnt/Internal/
            
            # Ensure permissions are correct for the game server
            # chmod -R 777 /mnt

            echo "geconfig=v7.0.1 $(date -u)" >> /mnt/.geconfig_version.txt            
            echo "Sync complete."
        volumeMounts:
        - name: ge-config-volume
          mountPath: /mnt
      volumes:
      - name: ge-config-volume
        persistentVolumeClaim:
          claimName: ge-pvc