apiVersion: batch/v1
kind: Job
metadata:
  name: ge-config
  namespace: ge-dev
  labels:
    app: ge-config
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: ge-config
    spec:
      nodeSelector:
        agentpool: geserver # Directs this task to your game pool
      restartPolicy: OnFailure
      imagePullSecrets:
      - name: ghcr-pull-secret
      containers:
      - name: config
        image: ghcr.io/rajp1011/pfhbe/geconfig:v3.0.1
        imagePullPolicy: Always
        command: ["/bin/sh", "-c"]
        args:
          - |
            set -e
            echo "Overwriting PVC from image..."
            # Wipe existing data
            rm -rf /mnt/* /mnt/.[!.]* /mnt/..?* 2>/dev/null || true
            # Copy new data
            cp -a /config/Internal/. /mnt/
            chmod -R 777 /mnt
            echo "Config setup complete."
        volumeMounts:
        - name: ge-config-volume
          mountPath: /mnt
      volumes:
      - name: ge-config-volume
        persistentVolumeClaim:
          claimName: ge-pvc