apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ge-service-config-pvc
  labels:
    app: ge-config
spec:
  
  accessModes:
    - ReadWriteOnce 
  resources:
    requests:
      storage: 2Gi 