apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ge-web-hpa
  namespace: ge-dev
spec:  
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ge-web-deployment
  minReplicas: 1 
  maxReplicas: 3  
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization        
        averageUtilization: 700