# -----------------------------------------------------------------
# Redis Deployment:
# -----------------------------------------------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-master
  namespace: ge-dev
  labels:
    app: redis
    role: master
spec:  
  replicas: 1
  selector:
    matchLabels:
      app: redis
      role: master
  template:
    metadata:
      labels:
        app: redis
        role: master
    spec:
      nodeSelector:
        agentpool: geserver  
      containers:
      - name: master        
        image: redis:6.2-alpine
        ports:        
        - containerPort: 6379
        resources:
          requests:
            cpu: "500m"
            memory: "512Mi"
          limits:
            cpu: "1000m"
            memory: "1024Mi"

